{% trans_default_domain "MCustomFields" %}

<div class='panel panel-default pattern-__name__' id="pattern_{{ key }}-__name__">
    <div class='panel-heading'>
        <h3 class="panel-title">Pattern __name__</h3>
        <p class='actions-btn'>
            <button type='button' class='btn btn-xs btn-danger' data-toggle="modal" data-target="#{{ key }}-__name__">{{ 'action.delete'|trans() }}</button>
        </p>
    </div>
    <div class='panel-body'>
        {% for key, field in form %}
            {% for type in field.vars.block_prefixes %}
                {% if '_form' in type == false %}
                    {% set type_field = type %}
                {% endif %}
            {% endfor %}
            <div class='panel'>
                <div class='panel-heading'>
                    <h3 class="panel-title">{{ field.vars.label }}</h3>
                    <p class='actions-btn'>
                        <span class='btn btn-xs btn-default'><strong>Type de champs :</strong> {{ type_field }}</span>
                        <span class='btn btn-xs btn-default'><strong>Slug :</strong> {{ key }}</span>
                    </p>
                </div>
                <div class='panel-body'>
                    <div class='form-group field_{{ key }}' data-pattern-slug="{{ key }}">
                        {{ form_errors(field) }}
                        {{ form_widget(field) }}

                        {% if field.vars.type is defined and field.vars.type == "file" %}
                            <img src="/uploads/scf/images/" style="max-width: 100%;">
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="modal fade" id="{{ key }}-__name__" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Voulez-vous vraiment supprimer ce champs?</h4>
                </div>
                <div class="modal-body">
                    Le champs est les données seront supprimés.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary delete-pattern" data-pattern-delete="{{ key }}-__name__" data-dismiss="modal">Oui, je veux supprimer</button>
                </div>
            </div>
        </div>
    </div>
</div>