{% extends "ApplicationSonataAdminBundle::layout.html.twig" %}

{% trans_default_domain "MCustomFields" %}

{% block form_widget_simple %}
    {% set type = type|default('text') %}
    {% if type != 'file' %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    {% endif %}
    {{ parent() }}
{% endblock form_widget_simple %}

{% set type_field = "" %}

{% block content %}
    <style>
        .panel-heading {position: relative;}
        .actions-btn { position: absolute; top: 8px; right: 10px;}
    </style>

    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ flash|raw }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="page-header">
        <h1>{{ 'global.edit_fields'|trans() }} {{ page.name }}</h1>
    </div>
    <div class="row">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {% for key, field in form.children %}
            {% for type in field.vars.block_prefixes %}
                {% if '_form' in type == false %}
                    {% set type_field = type %}
                {% endif %}
            {% endfor %}
            {% if field.vars.block_prefixes.1 == "collection" %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ field.vars.label == null ? field.vars.name : field.vars.label }}</h3>
                        <p class='actions-btn'>
                            <span class='btn btn-xs btn-default'><strong>Type de champs :</strong> {{ type_field }}</span>
                            <span class='btn btn-xs btn-default'><strong>Slug :</strong> {{ key }}</span>
                        </p>
                    </div>
                    <div class="panel-body">
                        <div
                                class="form-group repeater-field"
                                data-prototype="{% filter escape %}{{ include('MelodiesCustomFieldsBundle:Prototype:repeater.html.twig', { 'form': field.vars.prototype }) }}{% endfilter %}"
                                >
                            <div class="area-fields"></div>

                            <a href="#" class="add-sub-field btn btn-primary" data-length="0" data-exist_data="{{ field.vars.attr.exist_data|json_encode() }}">
                                {{ "action.add_fields"|trans() }}
                            </a>
                        </div>
                    </div>
                </div>
                {% do field.setRendered %}
            {% elseif key != "save" and key != "_token" %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ field.vars.label == null ? field.vars.name : field.vars.label }}</h3>
                        <p class='actions-btn'>
                            <span class='btn btn-xs btn-default'><strong>Type de champs :</strong> {{ type_field }}</span>
                            <span class='btn btn-xs btn-default'><strong>Slug :</strong> {{ key }}</span>
                        </p>
                    </div>
                    <div class="panel-body">
                        {{ form_errors(field) }}
                        {{ form_widget(field) }}
                    </div>
                </div>
            {% else %}
                {{ form_row(field) }}
            {% endif %}
        {% endfor %}
        {{ form_end(form) }}
    </div>

    <script type="text/javascript">
        function retrieveRepeaterField()
        {
            var repeaters = $('body').find('.add-sub-field');

            repeaters.each(function(){
                var data = $(this).data('exist_data');

                if(data == null) return false;

                for(var d in data)
                {
                    var pattern = data[d];

                    var fieldList = $(this).parent().find('.area-fields');

                    var prototype = $(this).parent().attr('data-prototype');
                    var fieldCount = $(this).attr('data-length');

                    fieldCount++;

                    prototype = prototype.replace(/__name__/g, d);
                    fieldList.append(prototype);

                    $(this).attr('data-length', fieldCount);

                    for(var p in pattern)
                    {
                        var field = pattern[p];

                        $('.pattern-' + d).find('.form-group').each(function(){
                            var slugPattern = $(this).data('pattern-slug');

                            //console.log("slug pattern : " + slugPattern);
                            console.log(field.parentSlug, slugPattern, d);

                            if(field.parentSlug == slugPattern)
                            {
                                console.log(field);
                                console.log(field.content);
                                $(this).find('.form-control').val(field.content);
                                $(this).find('textarea').val(field.content);

                                if(field.content != null)
                                {
                                    var src = $(this).find('img').attr('src') + field.content;

                                    $(this).find('img').attr('src', src);
                                }

                            }
                        });

                        /*console.log(field);*/
                    }
                }
            });
        }

        retrieveRepeaterField();

        $(document).ready(function() {
            $('.add-sub-field').click(function(e) {
                e.preventDefault();

                var fieldList = $(this).parent().find('.area-fields');

                var data = $(this).parent().attr('data-prototype');
                var fieldCount = $(this).attr('data-length');
                fieldCount++;
                data = data.replace(/__name__/g, fieldCount);
                fieldList.append(data);

                $(this).attr('data-length', fieldCount);
            });

            /* Delete pattern fields */
            $('.delete-pattern').click(function(e){
                e.preventDefault();

                var data_pattern = $(this).data('pattern-delete').split('-');

                var slugPattern = data_pattern[0];
                var numPattern  = data_pattern[1];

                $.ajax({
                    type: "POST",
                    url: "/admin/custom-fields/ajax/pattern/delete",
                    dataType: "json",
                    data: {
                        slug: slugPattern,
                        num: numPattern
                    },
                    success: function(data){
                        console.log(data);

                        if(data == true)
                        {
                            $('#pattern_' + data_pattern[0] + '-' + data_pattern[1]).fadeOut( "slow").remove();
                        }
                    },
                    error: function(err){
                        console.error(err);
                    }
                });
            });
        });


    </script>
{% endblock %}