{% extends "MelodiesCustomFieldsBundle::layout.html.twig" %}

{% trans_default_domain "MCustomFields" %}

{% block content %}

    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ flash|raw }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="page-header" id="current_page" data-id="{{ page.id }}">
        <h1>{{ 'global.edit'|trans() }} {{ page.name }}</h1>
    </div>
    <div class="row">
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

    <script type="text/javascript">
        // keep track of how many email fields have been rendered
        var fieldCount = '{{ form.fields|length }}';

        $(document).ready(function() {
            $('#add-another-field').click(function(e) {
                e.preventDefault();

                var fieldList = jQuery('#form_fields');

                var newWidget = fieldList.attr('data-prototype');

                newWidget = newWidget.replace(/__name__/g, fieldCount);
                fieldCount++;

                var newLi = jQuery('<li></li>').html(newWidget);
                newLi.appendTo(fieldList);
            });
        })
    </script>
{% endblock %}