{% extends "MelodiesCustomFieldsBundle::layout.html.twig" %}

{% trans_default_domain "MCustomFields" %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'global.page_list'|trans() }} <a href="{{ path('melodies_custom_fields_page_add') }}" class="btn btn-primary btn-sm" role="button">{{ 'action.add'|trans() }}</a></h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'form.page_name'|trans() }}</th>
                        <th>{{ 'form.route_name'|trans() }}</th>
                        <th>{{ 'form.actions'|trans() }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for page in pages %}
                        <tr>
                            <td>{{ page.id }}</td>
                            <td>{{ page.name }}</td>
                            <td>{{ page.idPage }}</td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group" aria-label="actions">
                                    <a href="{{ path('melodies_custom_fields_field_edit', {'id': page.id }) }}" class="btn btn-default btn-sm"><span class="fa fa-edit" aria-hidden="true"></span> {{ 'action.edit'|trans() }}</a>
                                    <a href="{{ path('melodies_custom_fields_page_edit', {'id': page.id }) }}" class="btn btn-default btn-sm"><span class="fa fa-wrench" aria-hidden="true"></span> {{ 'action.manage'|trans() }}</a>
                                    <a href="" class="btn btn-default btn-sm"><span class="fa fa-remove" aria-hidden="true"></span> {{ 'action.delete'|trans() }}</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}