{% trans_default_domain "MCustomFields" %}

{% macro line_field(field, choices) %}
    <tr data-id="{{ field.id }}" class="line-field">
        <td>
            <input type="text" class="form-control field-name" id="" value="{{ field.name }}">
        </td>
        <td>
            <select class="form-control field-type">
                {% for key, choice in choices %}
                    <option value="{{ key }}" {{ key == field.type ? "selected" : "" }}>{{ choice }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <input type="checkbox" class="field-isNullable" value="{{ field.isNullable }}" checked>
        </td>
        <td>
            <input type="text" class="form-control field-content" value="{{ field.content }}">
        </td>
        <td>
            <input type="text" class="form-control field-position" id="" value="{{ field.position }}">
        </td>
        <td>
            <a href="" data-id="{{ field.id }}" class="delete-field btn btn-danger btn-small btn-xs"><i class="glyphicon glyphicon-remove"></i></a>
        </td>
    </tr>
{% endmacro %}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>{{ "form.name"|trans() }}</th>
            <th>{{ "form.type"|trans() }}</th>
            <th>{{ "form.can_be_empty"|trans() }}</th>
            <th>{{ "form.content"|trans() }}</th>
            <th>{{ "form.position"|trans() }}</th>
            <th>{{ "form.action"|trans() }}</th>
        </tr>
    </thead>
    <tbody id="list-fields">
        {% for field in fields if field.parent == 0 %}
            {{ _self.line_field(field, choices) }}
            {% if field.type == "repeater" %}
                <tr>
                    <td></td>
                    <td colspan="6">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>{{ "form.name"|trans() }}</th>
                                    <th>{{ "form.type"|trans() }}</th>
                                    <th>{{ "form.can_be_empty"|trans() }}</th>
                                    <th>{{ "form.content"|trans() }}</th>
                                    <th>{{ "form.position"|trans() }}</th>
                                    <th>{{ "form.action"|trans() }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for subfield in fields if subfield.parent == field.id %}
                                    {{ _self.line_field(subfield, choices) }}
                                {% endfor %}
                            </tbody>
                        </table>

                        <a href="#" data-parent="{{ field.id }}" class="add-field btn btn-sm btn-primary"><i class="glyphicon glyphicon-plus-sign"></i> {{ "action.add_fields"|trans() }}</a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>